@font-face {
    font-family: tony2;
    src: url(fonts/ecri.otf);
}

@font-face {
    font-family: tony;
    src: url(fonts/ecriture.otf);
}


:root { /* Pour réutiliser les couleurs après  */
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
	--antiquewhite: antiquewhite;
	--dark-soft: #383838;
	--green: #7ad390;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-image: url("backgrounds/background5.gif") ;
	background-size: cover;
	background-repeat: none;
	font-family: tony2;
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: #d1e2b6;;
	margin-bottom: 1rem;
	font-family: tony2;
	text-align: center;
	background-image: linear-gradient(to right, var(--green), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
	width: 50vw;
	text-align: center;
	align-items: center;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	color: var(--pink);
	font-size: 1.5rem;
	font-weight: 1000;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
	
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}


.BOX {
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
	margin-right: 0px;
	
}

/*  MEDIA SCREEN   */

@media screen and (max-width: 1200px) {
    .BOX {
		align-items: center;
        flex-direction: column; 
    }
	.BOX .task-list{
		width: 800px;
	}
	.BOX .task-list2{
		width: 800px;
	}
	.BOX .task-list3{
		width: 800px;
	}
	@media screen and (max-width: 800px) {
		.BOX {
			align-items: center;
			flex-direction: column;   
		}
		.BOX .task-list{
			width: 600px;
		}
		.BOX .task-list2{
			width: 600px;
		}
		.BOX .task-list3{
			width: 600px;
		}
		@media screen and (max-width: 600px) {
			.BOX {
				align-items: center;
				flex-direction: column;   
			}
			.BOX .task-list{
				width: 575px;
			}
			.BOX .task-list2{
				width: 575px;
			}
			.BOX .task-list3{
				width: 575px;
			}
			@media screen and (max-width: 575px) {
				.BOX {
					align-items: center;
					flex-direction: column;   
				}
				.BOX .task-list{
					width: 375px;
				}
				.BOX .task-list2{
					width: 375px;
				}
				.BOX .task-list3{
					width: 375px;
				}
			}
		}
	}
}



/* LIST 1 */

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 2.5rem;
	font-weight: 300;
	color: #383838;
	margin-bottom: 1rem;
	font-family: tony2;
}
.task-list2 {
	padding: 1rem;
}


#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}
.task .content {
	flex: 1 1 0%;
}




/* LIST 2  */

.task-list2 h2 {
	font-size: 2.5rem;
	font-weight: 300;
	color: #383838;
	margin-bottom: 1rem;
	font-family: tony2;
}
.task-list2 {
	padding: 1rem;
}


#tasks2 .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task2 .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task2 .content .text:not(:read-only) {
	color: var(--pink);
}

.task2 .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task2 .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task2 .actions button:hover {
	opacity: 0.8;
}

.task2 .actions button:active {
	opacity: 0.6;
}

.task2 .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task2 .actions .delete {
	color: crimson;
}








/* LIST 3  */


.task-list3 {
	padding: 1rem;
}

.task-list3 h2 {
	font-size: 2.5rem;
	font-weight: 300;
	color: #383838;
	margin-bottom: 1rem;
	font-family: tony2;
}

#tasks3 .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task3 .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task3 .content .text:not(:read-only) {
	color: var(--pink);
}

.task3 .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task3 .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task3 .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task3 .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task3 .actions .delete {
	color: crimson;
}
.task3 .content {
	flex: 1 1 0%;
}

.task3 .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task3 .content .text:not(:read-only) {
	color: var(--pink);
}

.task3 .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task3 .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task3 .actions button:hover {
	opacity: 0.8;
}

.task3 .actions button:active {
	opacity: 0.6;
}

.task3 .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task3 .actions .delete {
	color: crimson;
}

#inputs {
	display: flex;
	justify-content: center;
}

#input-text {
	display: flex;
	justify-content: center;
}


/*  LES BOX TO DO ETC AVEC TITRES BOX   */


.task-list {

    text-align: center;
    height: 100%;
    width: 400px;
    background-color: rgba(214, 135, 162, 0.5);
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.438)
}

.task-list2 {
    text-align: center;
    height: 100%;
    width: 400px;
    background-color: rgba(214, 135, 162, 0.5);
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.438)
}

.task-list3 {
    text-align: center;
    height: 100%;
    width: 400px;
    background-color: rgba(214, 135, 162, 0.5);
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.438)
}
.task-list h2 {
	text-decoration: underline;
	text-decoration-color:rgba(240, 210, 221, 0.5);
}

.task-list2 h2 {
	text-decoration: underline;
	text-decoration-color:rgba(240, 210, 221, 0.5);
}

.task-list3 h2 {
	text-decoration: underline;
	text-decoration-color:rgba(240, 210, 221, 0.5);
}